<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discos</title>
    <link rel="stylesheet" href="/discos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <a href="/">Início</a>
            <a href="/artistas">Artistas</a>
            <a href="/discos">Discos</a>
            <a href="/faixas">Faixas</a>
            <a href="/generos">Gêneros</a>
        </nav>
    </header>


    <main class="main-content">
        <div class="container">
            <a href="/discos/add" class="btn btn-add"><i class="fas fa-plus-circle"></i> Adicionar Disco</a>
            
            <div class="disco-grid">
                <% discos.forEach(function(disco) { %>
                    <div class="disco-card">
                        <div class="disco-info">
                            <h3 class="disco-title"><%= disco.titulo %></h3>
                            <p><%= disco.artista %></p>
                            <p><%= disco.ano_lancamento %></p>
                            <button onclick="window.location.href='/discos/<%= disco.id %>'" class="btn btn-view">Ver</button>
                            <form action="/discos/<%= disco.id %>" method="POST" onsubmit="return confirm('Você tem certeza que deseja excluir este disco?');">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" class="btn btn-delete">Excluir</button>
                            </form>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </main>
</body>
</html>
